<% if !flash.empty? %>
  <div id="flash"> 
      <% flash.keys.each do |k| %> 
        <% if k != :alert %>
            <div class="<%= "alert fade in alert-" + "#{flash[k].include?("Success") ? 'success' : 'error'}" %>">
                <%= flash[k] %>
            </div>  
        <% end %>
      <% end %>   
  </div>
<% end %>

<div class="page-header">
  <h1>CSV</h1>
</div>

<p>
  Please use a CSV file with the columns: <strong> email, name, role </strong><br>
</p>

<%= form_tag({:action => :import}, multipart: true) do %>
  <div class="form-actions">
    <%= file_field_tag :csv_file %>
    <%= submit_tag("Import", :class => 'btn btn-primary') %>
  </div>
<% end %>
  <div class="form-actions">
    <%= link_to "Download as Excel", csv_export_path(format: "xls"), :class => 'btn btn-primary' %>
    <p>
      File will contain columns: <strong> id, email, role </strong>
    </p>
  </div>
</p>  
