<h2>Edit <%= @user.email %></h2>

<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div><br />

  <div><%= f.label :password %> 
  <%= f.password_field :password, :autocomplete => "off" %></div>
  <i>(leave blank if you don't want to change it)</i><br /><br />

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.label :current_password %>
  <%= f.password_field :current_password %></div>
  <i>(we need your current password to confirm your changes)</i><br /><br />

  <div><%= f.submit "Update" %></div>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
