<h1>Crop Image</h1>

<%= image_tag @photo.image_url(:large), id: "cropbox" %>

<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @photo.image.url(:large), :id => "preview" %>
</div>

<form name="myform" method="POST">
  <div align="left"><br>
    <input type="radio" name="cropselect" id="square" checked> Square		
    <input type="radio" name="cropselect" id="portrait"> Portrait			
    <input type="radio" name="cropselect" id="landscape"> Landscape			
    <input type="radio" name="cropselect" id="freecrop"> Free Crop
  </div>
</form>

<%= image_tag @photo.image_url(:thumb), id: "rotate0" %>
<%= image_tag @photo.image_url(:thumb), id: "rotate90" %>
<%= image_tag @photo.image_url(:thumb), id: "rotate180" %>
<%= image_tag @photo.image_url(:thumb), id: "rotate270" %>

<%= form_for @photo do |f| %>
  <div class="actions">
    <% %w[x y w h].each do |attribute| %>
      <%= f.text_field "crop_#{attribute}"%>
    <% end %>
    <%= f.text_field "rotation" %>
    <%= f.submit "Crop", :id => "cropper" %>
  </div>
<% end %>
