<%= link_to (@photo && @photo.id)? "Edit Form Data" : "Upload", "#test_modal", :class => 'btn btn-primary', :'data-toggle' => 'modal' %>

<div class="modal fade" id="test_modal" style="display: none;">
  <%= form_for @photo? @photo : :photos, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="modal-header" display="none">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= !@photo? 'Multiple' : nil %> <%= (@photo && @photo.id)? 'Edit Photo' : 'Upload' %></h3>
    <%= bootstrap_flash %>
  </div>
  <div class="modal-body" id="pickme">
    <% if !@photo || !@photo.id %>
      <div class="control-group">
        <%= f.label @photo? :image : :images, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field @photo? :image : :images, :class => 'file_field', :multiple => @photo? false : true %>
        </div>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :caption, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :caption, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tags, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tags, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :incident_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :incident_name, :class => 'text_field', :value => @info[:incident_name] %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :operational_period, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :operational_period, :class => 'text_field', :value => @info[:operational_period] %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :team_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :team_number, :class => 'text_field', :value => @info[:team_number] %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :taken_by, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :taken_by, :class => 'text_field', :value => @info[:taken_by] %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :time_taken, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time_taken, :class => 'text_field' %>
      </div>
    </div>
    <div style="text-align: center; margin-bottom: 20px;">
      <input type="button" value="Locate" id="coorbutton" style="height: 30px; width: 150px;">
      <input type="button" value="Use current time" id="timebutton" style="height: 30px; width: 150px;">
    </div>

    <div class="control-group">
      <%= f.label :Latitude, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :lat, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Longitude, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :lng, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :edited, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :edited, :class => 'check_box', :checked => @photo? true : false %>
      </div>
    </div>
  </div>
  <div class="modal-footer" display="none">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          photos_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>

<script src="/assets/locator.js?body=1"></script>

<script>
  $(document).ready(function(){
    resizeDiv();
    $("#timebutton").click(function(e) {
      var d = new Date();
      var curr_date = d.getDate();
      var curr_month = d.getMonth() + 1; //Months are zero based
      var curr_year = d.getFullYear();
      var curr_hour = d.getHours();
      var curr_min = d.getMinutes();
      var a_p = "";
      var curr_hour = d.getHours();

      if (curr_hour < 12)
         {
         a_p = "AM";
         }
      else
         {
         a_p = "PM";
         }
      if (curr_hour == 0)
         {
         curr_hour = 12;
         }
      if (curr_hour > 12)
         {
         curr_hour = curr_hour - 12;
         }

var curr_min = d.getMinutes();
      $("#photo_time_taken").val(curr_month + "/" + curr_date + "/" + curr_year + " " + curr_hour + ":" + curr_min + " " + a_p);
      $("#photos_time_taken").val(time);
    });
  });

  window.onresize = function(event) {
    resizeDiv();
  }

  function resizeDiv() {
    vph = $(window).height() - 200;
    $('#pickme').css({'height': vph + 'px'});
  }
</script>

<% if !@photo || !@photo.id %>
  <script>
    $(document).ready(function () {
      $('#test_modal').modal();
    });
  </script>
<% end %>
