<h3>Form data</h3>
<%= form_for @photo? @photo : :photos, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :caption, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :caption, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :incident_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :incident_name, :class => 'text_field', :value => @info[:incident_name] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operational_period, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :operational_period, :class => 'text_field', :value => @info[:operational_period] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :team_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :team_number, :class => 'text_field', :value => @info[:team_number] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taken_by, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :taken_by, :class => 'text_field', :value => @info[:taken_by] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_taken, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_taken, :class => 'text_field' %>
    </div>
  </div>
  <p id="Locator">Set photo's location as your current location (if photo has no metadata)</p>
	<input type="button" value="Locate" id="coorbutton">
  <div class="control-group">
    <%= f.label :Latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lng, :class => 'text_field' %>
    </div>
  </div>
  <% if !@photo || !@photo.id %>
    <div class="control-group">
      <%= f.label @photo? :image : :images, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field @photo? :image : :images, :class => 'file_field', :multiple => @photo? false : true %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :edited, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :edited, :class => 'check_box', :checked => @photo? true : false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      photos_path, :class => 'btn' %>
  </div>
<% end %>
<script src="/assets/locator.js?body=1"></script>
