<h4>Rotate Image</h4>
<%= image_tag @photo.image_url(:thumb), id: "picture"%>
<br>
<div class="btn", id="left">
<%= image_tag("/rLeft.png")%>
</div>
<div class="btn", id="right">
<%= image_tag("/rRight.png")%>
</div>

<%= form_for @photo do |f| %>
  <div class="form-actions">
    <%= f.text_field "rotation", :readonly => true%>
    <%= f.submit "Rotate", :class => 'btn btn-primary', :id => "rotation" %>
  </div>
<% end %>
<script src="/assets/rotate.js?body=1"></script>
