<style>
body
{ 
background: #909090 
}
a:link {color:#000000;}    /* unvisited link */
a:visited {color:#000000;} /* visited link */
a:hover {color:#0000FF;}   /* mouse over link */
a:active {color:#000000;}  /* selected link */

</style>

<div align='center';> 
<%= image_tag("/BAMRU.gif", :align => 'middle') %>

<table border = "1" align = "center">
  <tbody>
    <% @photo_pack.each do |photo_pack| %>
		<tr>
			<% photo_pack.each do |photo| %>
        <td  align="center" valign="center">
        	<%= link_to image_tag("/photos/code_image/#{photo.id}", :alt => "Image", :width => 250, :height => 250), photo %></br>
        	<%= link_to 'Show', photo %> | <%= link_to 'Edit', edit_photo_path(photo) %> | <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
    <% end %>
</tr>
<% end %>
  </tbody>
</table>

<%= link_to 'Return to homepage', photos_path %>

<br>


