<%- model_class = Photo -%>
<%= flash[:access] %>

<div class="page-header">
  <h2><%= session[:edited] == "true"? 'Home' : 'Editing Queue' %></h2>
  <h3><%= "Incident: " + session[:incident] %></h3>
</div>

<table class="table table-striped" id="photo_table">
  <tbody>
    <% @photo_pack.each do |photo_pack| %>
      <tr> 
      <% photo_pack.each do |photo| %>
        <td align="center" valign="center">
          <%= link_to image_tag(photo.image_url(:thumb)), photo, :id => "pic" %></br>
	        <%= link_to 'Show', photo %>
	        <% if current_user.role != "viewer" %>
			      | <%= link_to 'Edit', edit_photo_path(photo) %> | 
			      <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
			    <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
  <% if @photo_pack == [[]] %>
    This page is intentionally blank.
  <% end %>
</table>
<% if @map_points && @map_points.length>0 %> <!-- dont load map script for pages that don't have maps -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDPNNBRPCecNa5YSDdLRp0VokNsxiwKk&sensor=false&callback=initialize"></script>
  <script src="/assets/maps.js?body=1"></script>
  <div class="row">
		<div class="span6 offset4">
			<div class="btn" id="map_show">Map of locations</div>
		</div>
		<div class="span6 offset3" id="map-canvas"/></div>
	</div>
  <script>
    $("#map-canvas").toggle(); // hiding by default
    function initialize() {
      make_map([
        <% @map_points.each do |p| %>
          ["<%= p.lat.to_s %>", "<%= p.lng.to_s %>", "<%= p.caption %>", "<%= p.id %>"],
        <% end %>
      ]);
      $("#map_show").click(function() {
        $("#map-canvas").toggle();
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center); 
      });
    }
  </script>
<% end %>
