<%- model_class = Photo -%>
<%= flash[:access] %>
<script>
	make_map([
		<% @map_points.each do |p| %>
			["<%= p.lat.to_s %>", "<%= p.lng.to_s %>", "name: <%= p.caption %>"],
		<% end %>
	]);
</script>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">

  <tbody>
       <% @photo_pack.each do |photo_pack| %>
                <tr>
                        <% photo_pack.each do |photo| %>
        <td  align="center" valign="center">
                <%= link_to image_tag(photo.image_url(:thumb)), photo %></br>
                <%= link_to 'Show', photo %> | <%= link_to 'Edit', edit_photo_path(photo) %> | <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
    <% end %>
</tr>
<% end %>
  </tbody>
</table>
<div class="span8">
	<div id="map-canvas"/>
</div>

