<%- model_class = Photo -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>
<div class="span-3" style="margin: 20px; padding-right: 40px;">
<%= image_tag @photo.image_url() if @photo.image? %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:caption) %>:</strong></dt>
  <dd><%= @photo.caption %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd><%= @photo.tags %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:incident_name) %>:</strong></dt>
  <dd><%= @photo.incident_name %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:operational_period) %>:</strong></dt>
  <dd><%= @photo.operational_period %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:team_number) %>:</strong></dt>
  <dd><%= @photo.team_number %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:taken_by) %>:</strong></dt>
  <dd><%= @photo.taken_by %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:time_taken) %>:</strong></dt>
  <dd><%= @photo.time_taken %>&nbsp;</dd>

  <dt><strong><%= model_class.human_attribute_name(:edited) %>:</strong></dt>
  <dd><%= @photo.edited ? "Yes" : "No" %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:lat) %>:</strong></dt>
  <dd><%= link_to_if(@photo.lat && @photo.lng, @photo.lat, "http://maps.google.com/maps?q=#{@photo.lat},#{@photo.lng}") %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:lng) %>:</strong></dt>
  <dd><%= link_to_if(@photo.lat && @photo.lng, @photo.lng, "http://maps.google.com/maps?q=#{@photo.lat},#{@photo.lng}") %>&nbsp;</dd>

</dl></div>

<div class="form-actions">
  <%= link_to t('.home', :default => t("helpers.links.home")),
              photos_path, :class => 'btn'  %>
  <% if current_user.role != "viewer" %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_photo_path(@photo), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              photo_path(@photo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%= link_to t('.flickr', :default => "Flickr"),
              flickr_upload_path(@photo), :class => 'btn btn-success'%>
  <% end %>
</div>
