<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @photo.tags %>
</p>

<p>
  <strong>Incidentname:</strong>
  <%= @photo.incidentName %>
</p>

<p>
  <strong>Operationalperiod:</strong>
  <%= @photo.operationalPeriod %>
</p>

<p>
  <strong>Teamnumber:</strong>
  <%= @photo.teamNumber %>
</p>

<p>
  <strong>Contenttype:</strong>
  <%= @photo.contentType %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @photo.filename %>
</p>

<p>
  <strong>Latitude: </strong>
  <%= @photo.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @photo.lng %>
</p>

<p>
  <%= link_to_if(@photo.lat && @photo.lng, 'Google Map of picture location', "http://maps.google.com/maps?q=#{@photo.lat},#{@photo.lng}") %>
</p>

<%= image_tag  @photo.image_url(:thumb) if @photo.image? %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Editing Queue', edit_queue_path %> |
<%= link_to 'Back', photos_path %>
