<!DOCTYPE html>
<html manifest="/application.manifest">

<head>
  <title>PhotoApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults, "json", "jquery.offline" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
